examples/TestGanacheJS/node_modules/*
examples/DApp/crowdfunding/node_modules/*
examples/DApp/db/*
infura_tutorial/truffle_infura/00_truffle_deploy/node_modules
infura_tutorial/truffle_infura/01_infura_io/local.secret
